CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=3301114844781e2436b8d0d8ecba7a1a
CLOUDFLARE_D1_DATABASE_ID=a20c7043-1e8f-4391-aa01-8de726a8c154
CLOUDFLARE_VECTORIZE_INDEX_NAME=electric-aircraft-kb
CLOUDFLARE_R2_BUCKET_NAME=electric-aircraft-files
